&:root {
  --primary: #2a324b;
  --ruby: #da4167;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-family: "Poppins";
  // height: 11in;
  width: 8.5in;
  // border: 1px solid black;
}
body {
  font-family: "Poppins";
  // height: 11in;
  width: 8.5in;
}

ul {
  margin-left: 15px;
}

.flex-horz {
  display: flex;
  overflow: auto;
  justify-content: space-between;
  width: 100%;
}
.flex-vert {
  display: flex;
  flex-direction: column;
  height: 90%;
  overflow: auto;
  justify-content: space-between;
}

.project-info {
  div{
    padding-top: 5px;
    font-size: 15px;
  }
  img{
    height: 10px;
  }
  display: flex;
}

#content {
  ul {
    list-style-position: outside;
    margin-left: 30px;
    margin-top: 2px;
  }
  li {
    font-size: 12px;
  }
  // height: 10.99in;
  padding: 20px 10px;
  padding-right: 20px;
  padding-top:  10px;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  // justify-content: space-evenly;
  flex: 3;
  > div {
    padding-bottom: 0px;
    &:last-child {
      padding-bottom: 0px;
    }
  }
  h2 {
    padding: 0;
  }
}
h2 {
  color: var(--ruby);
  font-size: 20px;
  width: 100%;
  border-bottom: 1px solid rgb(210, 210, 210);
}
h3 {
  font-size: 15px;
  padding-top: 3px;
}

a {
  color: black;
}
#sidebar {
  #name {
    h1 {
      color: var(--ruby);
    }
    p {
      font-size: 14px;
    }
  }

  padding: 20px;
  padding-top: 0px;
  li {
    font-size: 12px;
    padding: 2px 0;
  }
  #interests {
    display: flex;
    li {
      // font-size: 12px;

    }
    ul {
      // width: 100px;
      padding: 0;
    }
  }
  #contact {
    justify-content: space-evenly;
    align-content: center;
    font-size: 12px;
    p {
      display: flex;
      align-content: center;
      align-items: center;
      span {
        padding: 0 10px;
        align-items: center;
      }
    }
    img {
      height: 22px;
      padding: 0;
      padding-left: 1px;
      margin: 0;
      align-self: center;
      align-content: center;
    }
  }
  // height: 11in;
  flex: 1.4;
  color: black;
  display: flex;
  flex-direction: column;
  div {
    > * {
      &:not(h2) {
        padding: 3px 5px;
      }
    }
    margin-bottom: 0px;
  }
  h2 {
    color: black;
    text-align: left;
    font-size: 15px;
  }
  ul {
    width: 240px;
    list-style-type: none;
    font-size: 12px;
  }
}


.section-content {
  margin-left: 15px;
  p {
    font-size: 13px;
    color: rgb(75, 75, 75);
    text-transform: uppercase;
    margin-left: 8px;
  }
  .languages{
    margin-top: 1px;
    color: var(--ruby) !important;
  }
  .languages::before{
    content: "- ";
    color: rgb(75, 75, 75);
  }
  a {
    color: black;
  }
}


#projects {
  display: flex;
  a {
    color: black;
  }
}
#tagline {
  text-align: left;
  font-size: 14px;
  p {
    padding: none;
  }
}
h1 {
  font-size: 30px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

@media print {
  html {
    width: 8.5in;
    height: 11in;
    margin: 0 0 0 0;
  }
}
