@media print {
  html {
    width: 8.5in;
    height: 11in;
    margin: 0 0 0 0;
  }
}
html,
body {
  font-family: "Poppins";
  height: 11in;
  width: 8.5in;
  border: 1px solid black;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* filter: grayscale(100);  
    great for checking contrast*/
}

ul {
  list-style-position: inside;
  margin-left: 10px;
}
h2 {
  color: #3aa6dd;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 90%;
  border-bottom: 1px solid rgb(230, 230, 230);
}
h3 {
  font-size: 15px;
}

.flex-horz {
  display: flex;
  overflow: auto;
  justify-content: space-between;
  width: 100%;
}
.flex-vert {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  justify-content: space-between;
}
#content {
  padding: 10px;
  height: 11in;
}
#sidebar {
  height: 11in;
  flex: 1.5;
  background-color: #3aa6dd;
  color: white;
  padding: 20px;
}
#sidebar h2 {
  color: white;
}
#sidebar,
#content {
  display: flex;
  flex-direction: column;
}

#content {
  flex: 3;
}
#tagline {
  text-align: left;
}
